apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-app-deploy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: devops-app
  template:
    metadata:
      labels:
        app: devops-app
    spec:
      containers:
        - name: devops-app
          image: gabriellova/devops-app:latest
          ports:
            - containerPort: 3000
